.im-comparison-panel-fixed {
  box-shadow: 0 0 9px -3px #000;
  z-index: 2;
}

.im-comparison-panel-fixed-report {
  box-shadow: 0 9px 9px -11px #000;
  z-index: 2;
  background: #fff;
  position: sticky;
  top: 0;
}

.im-comparison-panel-header {
  box-shadow: 0 0 9px -3px #000;
  z-index: 93;
  position: relative;
  top: -14px;
  margin-bottom: 4px;
}

.im-comparison-message {
  color: orange !important;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 12px;
}

.im-comparison-depencencies {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 12px;
}

.im-comparison-indent {
  margin-left: 30px;
}

.im-comparison-sides {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  row-gap: 5px;
}

.im-comparison-side {
  display: grid;
  grid-template-columns: 60px minmax(200px, auto) 1fr;
  font-size: 12px;
}

.im-comparison-side * {
  align-self: flex-start;
}

.im-comparison-with-button {
  display: grid;
  grid-template-columns: auto auto 1fr;
  column-gap: 1px;
  padding-left: 8px;
  /*float: right;*/
}

.im-comparison-diff-grid {
  text-align: left;
  align-self: baseline;
  justify-content: start;
  display: grid;
  grid-template-columns: 33% 33% 34%;
  column-gap: 1px;
  margin-bottom: 1px;
  font-size: 13px;
  cursor: default;
}

.im-comparison-diff-grid {
  grid-template-areas: 'caption source target';
}

.im-update-grid .im-comparison-diff-grid {
  grid-template-areas: 'caption target source';
}

.im-comparison-section-source {
  grid-area: source;
}

.im-comparison-section-target {
  grid-area: target;
}

.im-comparison-section-caption,
.im-comparision-main-caption {
  grid-area: caption;
}

.im-comparison-diff-grid div:not(.im-comparison-section-caption) {
  padding: 1px 4px;
  border-radius: 2px;
}

div.im-comparison-section-wrapper {
  padding: 0px !important;
}

.im-comparison-bullet {
  width: 7px;
  height: 7px;
  color: rgba(0, 0, 0, 0.3);
  margin-right: 5px;
  font-size: 7px;
  position: relative;
  top: -1px;
}

.im-comparison-status-icon {
  width: 13px;
  height: 13px;
  margin-right: 2px;
  position: relative;
  top: 2px;
  left: -2px;
}

.im-comparison-section-caption {
  color: orange;
  font-size: 10px;
  left: 0px;
  opacity: 1;
  text-transform: uppercase;
  margin-top: 5px;
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: 1px 4px;
  margin-bottom: 1px;
}

.im-comparison-section-caption-extra {
  color: #3faaff;
  font-size: 10px;
  left: 0px;
  opacity: 1;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: 1px 4px;
}

.im-comparison-section-caption-basic {
  color: #ccc;
  font-size: 10px;
  left: 0px;
  opacity: 1;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 1px 4px;
}

pre.script {
  font-family: 'Courier New', 'Roboto Mono', Courier, monospace;
  white-space: pre-wrap;
  color: 393939;
  margin: 10px 10px 10px 28px;
  border-left: 6px solid rgba(0, 0, 0, 0.08);
  font-size: 13px;
  overflow-wrap: anywhere;
}

.im-comparison-row pre.script {
  margin: 10px 10px 10px 6px;
  border-left: 6px solid rgba(0, 0, 0, 0.08);
  overflow-wrap: anywhere;
}

.im-comparison-section-caption-span {
  grid-column: span 3;
}

.im-comparison-section-grid:not(:first-child) {
  background: rgba(255, 255, 255, 0.5);
  display: grid;
  min-height: 18px;
  align-self: auto;
}

.im-comparison-diff-grid:hover .im-comparison-section-grid:not(:first-child) {
  background: rgba(0, 0, 0, 0.1);
}

.im-comparison-section-grid {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  position: relative;
}

.im-comparison-section-grid div {
  align-self: baseline;
}

.im-comparison-property-caption {
  display: flex;
  flex-direction: row;
}

.im-comparison-with-icon {
  display: flex;
  flex-direction: row;
}

.im-comparison-with-icon .im-target {
  position: relative;
  top: 1px;
}

.im-comparison-with-icon div.im-comparison-searchable {
  padding: 1px 4px 1px 1px !important;
  margin: 0 !important;
}

.im-comparision-main-caption * {
  align-self: auto !important;
}

.im-comparison-found {
  outline: 2px solid darkorchid;
}

.im-comparison-item-with-selection {
  display: grid;
  grid-template-columns: 22px 1fr;
  position: relative;
  left: -20px;
  font-size: 13px;
}

.im-comparison-item-with-selection * {
  justify-self: left !important;
}

.im-comparision-subitem-wrapper {
  padding: 0;
  margin-left: 0;
  border-radius: 4px;
}

.im-comparison-main-item-wrapper {
  padding: 4px 0px 4px 0px !important;
  margin-left: 0px !important;
  display: grid;
  grid-template-columns: 24px 1fr 3fr !important;
  position: relative;
  border-radius: 2px;
  /*background: rgba(0, 0, 0, 0.1);*/
  font-size: 13px;
}

.im-comparision-collapsible .im-comparison-main-item-wrapper {
  margin-bottom: 1px;
}

.im-comparison-main-item-wrapper:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.im-comparison-main-item-wrapper div.im-different,
.im-comparison-main-item-wrapper div.im-source,
.im-comparison-main-item-wrapper div.im-target {
  align-self: end;
}

.im-comparison-buttons {
  position: absolute;
  right: 10px;
  top: 2px;
}

.im-comparision-main-item-wrapper:hover {
  cursor: pointer;
}

.im-comparison-stats {
  display: flex;
  padding-right: 20px;
  column-gap: 10px;
}

.im-comparision-collapsible:hover .im-comparison-main-item-wrapper {
  /*background-color: #393939;*/
}

.im-comparision-subitem {
  margin: 2px 0px 2px 0px;
  font-size: 13px;
  padding: 0px;
  padding-left: 10px;
  border-right: 0;
  border-radius: 2px;
  background: linear-gradient(90deg, #444, rgba(0, 0, 0, 0));
}

.im-comparison-mapping-button {
  position: relative;
  top: 3px;
  padding-top: 2px;
  padding-bottom: 0;
  display: inline-block;
  cursor: pointer;
  padding-top: 0;
  margin-left: 10px;
  text-align: center;
  border-radius: 2px;
  justify-content: center;
  transition: 0.3s background-color;
  align-self: baseline;
  font-size: 14px;
}

.im-comparison-items-section:hover,
.im-comparision-subitem-wrapper:hover,
.im-comparison-items-section:hover .im-different,
.im-comparision-subitem-wrapper:hover .im-different,
.im-comparison-items-section:hover .im-icon-Collapse16,
.im-comparision-subitem-wrapper:hover .im-icon-Collapse16,
.im-comparison-items-section:hover .im-icon-Expand16,
.im-comparision-subitem-wrapper:hover .im-icon-Expand16 {
  color: #fff;
  cursor: pointer;
}

.im-comparison-hoveronly {
  display: inline-block;
}

.im-comparison-items-section:hover .im-comparison-hoveronly {
  display: inline-block;
}

.im-comparison-item,
.im-comparison-items-header {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 5px;
  row-gap: 4px;
  margin-bottom: 0;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0;
  column-gap: 5px;
}

.im-comparison-item {
  padding: 0;
  position: relative;
}

.im-comparison-item,
.im-comparison-items-section {
  border-bottom: 0px dashed rgba(255, 255, 255, 0.1);
}

.im-comparison-item-scripts {
  margin-top: 2px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.im-comparison-item-scripts > div.im-comparison-item-script {
  background: rgba(0, 0, 0, 0.1);
  margin: 0px 0px 0px 0px;
  padding: 10px;
}

.im-comparison-item > div {
  align-self: auto;
}

.im-comparison-items-header {
  grid-template-columns: 22px 1fr auto auto 22px;
}

.im-comparison-items-section {
  display: grid;
  grid-template-columns: 24px 1fr auto;
  column-gap: 0px;
  row-gap: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 13px;
  /*position: sticky;
  top: 0px;
  background:#333;*/
  z-index: 100;
  align-items: center;
  border-radius: 2px;
  margin-bottom: 1px;
}

.im-comparision-item-detail-collapsible {
  display: grid;
  grid-template-columns: 24px 1fr;
  column-gap: 5px;
  row-gap: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 11px;
  background: linear-gradient(90deg, #444, #444, rgba(0, 0, 0, 0.15));
  z-index: 100;
  cursor: pointer;
}

.im-comparison-item-wrapper {
  margin-left: 0px;
  padding: 0px;
  margin-top: 0px;
  /*background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.1),
    transparent,
    transparent
  );*/
}

.im-comparison-item * {
  align-self: auto;
}

.im-comparison-items-header * {
  align-self: center;
}

.im-comparison-group {
  font-size: 12px;
}

.im-source {
  font-size: 10px;
  text-transform: uppercase;
  padding: 2px 4px !important;
  display: inline-block;
}

.im-target {
  font-size: 10px;
  text-transform: uppercase;
  padding: 2px 4px !important;
  display: inline-block;
}

.im-different {
  font-size: 10px;
  text-transform: uppercase;
  padding: 2px 4px !important;
  display: inline-block;
}

.im-target-bullet,
.im-source-bullet,
.im-different-bullet {
  position: relative;
  padding-left: 0px;
}

.im-target-bullet:before,
.im-source-bullet:before,
.im-different-bullet:before {
  content: ' ';
  width: 4px;
  height: 4px;
  position: absolute;
  left: 0px;
  top: 8px;
  display: inline-block;
  display: none;
}

.im-comparison-row a:hover {
  text-decoration: underline;
}

/* color */

.im-comparison-items-section:hover,
.im-comparision-subitem-wrapper:hover {
  background: #2196f3;
}
.im-source {
  color: darkgreen;
}
.im-target {
  color: #c00;
}
.im-different {
  color: #393939;
}
.im-source-bullet:before {
  background: darkgreen;
}
.im-target-bullet:before {
  background: #c00;
}
.im-different-bullet:before {
  background: #393939;
}
.im-comparison-row a {
  color: #007add !important;
}
.im-comparison-depencencies {
  color: #393939;
}
.im-comparison-mapping-button:hover {
  background-color: rgba(171, 219, 255, 0.5);
  transition: 0.3s background-color;
}

.im-btn-link {
  color: rgb(3, 169, 244);
  text-decoration: none;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  display: inline;
  font-family: 'Open Sans';
}

.im-trial {
  font-size: 10px;
  text-transform: uppercase;
  padding: 2px 4px !important;
  display: inline-block;
  color: #0267b7 !important;
}

.im-message {
  text-align: center;
  font-size: 13px;
  color: #666;
  padding-top: 0px;
}

.mm-section-group {
  display: none;
}

.mm-fullpage-wrapper {
  margin: 50px auto;
}

.im-collapsible-icon {
  color: #333;
}
