@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/open-sans-v17-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('./assets/open-sans-v17-latin-ext_latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/open-sans-v17-latin-ext_latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/open-sans-v17-latin-ext_latin-regular.woff') format('woff'),
    /* Modern Browsers */
      url('./assets/open-sans-v17-latin-ext_latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/open-sans-v17-latin-ext_latin-regular.svg#OpenSans')
      format('svg'); /* Legacy iOS */
}

/* open-sans-600 - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/open-sans-v17-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url('./assets/open-sans-v17-latin-ext_latin-600.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/open-sans-v17-latin-ext_latin-600.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/open-sans-v17-latin-ext_latin-600.woff') format('woff'),
    /* Modern Browsers */ url('./assets/open-sans-v17-latin-ext_latin-600.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/open-sans-v17-latin-ext_latin-600.svg#OpenSans')
      format('svg'); /* Legacy iOS */
}

/* open-sans-700 - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/open-sans-v17-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('./assets/open-sans-v17-latin-ext_latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/open-sans-v17-latin-ext_latin-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/open-sans-v17-latin-ext_latin-700.woff') format('woff'),
    /* Modern Browsers */ url('./assets/open-sans-v17-latin-ext_latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/open-sans-v17-latin-ext_latin-700.svg#OpenSans')
      format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Mono'),
    url('./assets/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

html,
body {
  margin: 0;
  overflow: hidden;
}

html,
body,
#root,
.app-layout,
.aside-left,
.aside-right,
.diagram {
  height: 100%;
  width: 100%;
}

.diagram {
  overflow: auto;
}

.main-area {
  height: 100%;
  width: 100%;
}

html,
body,
div,
p,
span,
a,
td,
ul,
li {
  font-family: 'Open Sans', 'Exo';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 4px 0;
  margin: 0;
  font-family: 'Open Sans', 'Exo';
  font-weight: 400;
}

h1 strong,
h1 b,
h2 strong,
h2 b,
h3 strong,
h3 b,
h4 strong,
h4 b,
h5 strong,
h5 b,
h6 strong,
h6 b {
  font-weight: 700;
}

p {
  padding: 1px 0;
  margin: 0;
  font-size: 12px;
}

.im-n-text p {
  padding: 0;
  font-size: 12px;
}

.im-z-index-8 {
  z-index: 8;
}

.sel-item-diagram-multi.im-z-index-4,
.im-z-index-4 {
  z-index: 4 !important;
  pointer-events: none;
}

.sel-item-diagram-multi.im-z-index-4 div,
.im-z-index-4 div {
  visibility: hidden;
}

.im-dropdown ul li.im-dropdown-icon-empty {
  display: grid;
  grid-template-columns: 21px 1fr;
}

.forcedLineColor {
  stroke: black !important;
}

polygon.forcedPolygonFill,
circle.forcedPolygonFill,
tspan.forcedPolygonFill {
  fill: black !important;
  stroke-width: 0;
}

.forcedTransparentFill {
  fill: rgb(238, 238, 238) !important;
}

.im-icon-ResizeBottomRight16 {
  display: none;
}

#diagram #svgMain {
  top: 0px;
  left: 0px;
  background: transparent;
  position: absolute;
  height: 100%;
}

#diagram #mainHtmlCanvas {
  height: 100%;
  transform-origin: 0 0;
}

#diagram {
  height: 100%;
  width: 100%;
  position: relative;
}

.im-position-top-2 {
  position: relative;
  top: -2px;
}

@media print {
  .mm-freeware
    #mainHtmlCanvas
    div.tree__item:nth-child(3n)
    .tree__item__bg::after,
  .mm-trial
    #mainHtmlCanvas
    div.tree__item:nth-child(3n)
    .tree__item__bg::after {
    content: ' Trial ';
    display: inline-block;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 0;
    text-align: center;
    padding-top: 5px;
  }
}

.dCols-report .tree__flex__rows {
  overflow-wrap: break-word;
}

.sel-item-diagram-multi {
  box-shadow: none;
  outline: 0;
}

.sel-item-diagram,
.sel-item-diagram:hover {
  outline: 0;
  box-shadow: 4px 4px 8px -8px black;
  border: 1px solid #ddd;
}

/**/
.im-display-none {
  display: none;
}

.im-display-flex {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.im-display-inline-block {
  display: inline-block;
}

.tree__input,
.tree__input:focus,
.tree__input:focus-visible {
  outline: none;
}
.tree__empty_decorator {
  display: inline-block;
  min-width: 6px;
}

.im-text-opacity-50 {
  opacity: 0.4;
}

.mm-section-group {
  display: none;
}

.im-bottom-box .im-customizations-displayed:first-of-type {
  margin-top: 5px;
  padding-top: 5px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.dCols .im-customizations-displayed:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.im-customizations-displayed {
  font-size: 12px;
  padding: 1px 5px;
  font-size: 12px;
  width: auto;
  display: block;
  min-width: 140px;
}

.im-customizations-displayed div,
.im-other-customizations-displayed div,
.im-note-customizations-displayed div {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
}

.im-n .ql-editor {
  height: auto;
}

.im-bottom-box {
  padding: 0;
  position: absolute;
  top: 100%;
  margin-bottom: 40px;
  min-width: 70px;
  left: 0;
  right: 0;
  margin: auto;
}

.im-range-caption-wrapper {
  display: flex;
  margin-top: 5px;
  flex-direction: row;
  font-size: 12px;
  text-align: left;
}

.im-table-descriptions-displayed {
  padding: 5px;
}

.im-custom-properties-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-row-gap: 1px;
  grid-column-gap: 5px;
  justify-content: stretch;
  justify-items: stretch;
  padding-bottom: 3px;
}
.im-custom-properties-grid .im-prop-span-2 {
  grid-column: span 2;
}

.aside-right .im-prop-span-2 {
  grid-column: span 2;
}

.im-item-options {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr 22px 22px;
  margin-bottom: 2px;
}

.im-item-options-array {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 22px 22px;
  margin-bottom: 2px;
}

.im-custom-properties-grid .im-item-options {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2px;
}

.im-custom-properties-grid .im-item-options-array {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr;
  margin-bottom: 2px;
}

.im-custom-properties-grid .im-item-options > div,
.im-custom-properties-grid .im-item-options-array > div {
  background: rgba(255, 255, 255, 0.1);
  padding: 1px 4px;
  border-radius: 2px;
}

.im-custom-properties-grid div.im-range-indicator {
  display: flex;
  position: relative;
  top: 0;
  max-width: 180px;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-all;
  margin-bottom: 6px;
}

.im-margin-bottom-xs {
  margin-bottom: 10px;
}

.im-range-indicator {
  display: flex;
  grid-column-gap: 2px;
  width: 100%;
  margin-top: 5px;
  position: absolute;
  top: 26px;
}

.im-range-empty {
  display: inline-block;
  min-width: 4px;
  background: rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  height: 4px;
  border-radius: 2px;
}

.im-range-fill {
  display: inline-block;
  min-width: 4px;
  flex-grow: 1;
  height: 4px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.4);
}

.im-textarea-code {
  min-height: 150px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  color: #282828;
  resize: vertical;
}

.im-colorbox {
  width: 14px;
  height: 14px;
  border-radius: 2px;
}

.im-yes {
  color: green !important;
}

.im-link {
  color: #007add !important;
  text-decoration: none;
}

.im-custom-properties-grid p,
.mm-d-v p {
  font-size: 12px;
  margin: 0;
  padding: 1px 0;
}

.im-trial {
  font-size: 10px;
  text-transform: uppercase;
  padding: 2px 4px !important;
  display: inline-block;
  color: #0267b7 !important;
}

.im-diagram-actions-panel {
  display: none;
}

/* white rounded */
/* column graphics */
.im-mini-PK,
.im-mini-PI {
  background: #ff0000;
  color: #fff;
  top: 2px;
  border-radius: 4px;
}

.im-mini-PFK,
.im-mini-PL {
  background: #2196f3;
  color: #fff;
  top: 2px;
  border-radius: 4px;
}

.im-mini-FK,
.im-mini-L {
  background: rgb(76, 175, 80);
  color: #fff;
  top: 2px;
  border-radius: 4px;
}

.im-mini-IX {
  background: #8f5d00;
  color: #fff;
  top: 2px;
  border-radius: 4px;
}

.im-mini-AK,
.im-mini-AI {
  background: #b20da2;
  color: #fff;
  top: 2px;
  border-radius: 4px;
}

.im-mini-I {
  background: #db861e;
  color: #fff;
  top: 2px;
  border-radius: 4px;
}

.im-mini-C {
  background: #007c11;
  color: #fff;
  top: 2px;
  border-radius: 4px;
}

.im-mini-U {
  background: #3f51b5;
  color: #fff;
  top: 2px;
  border-radius: 4px;
}

/* diagram */
.diagram-background {
  background-color: #fff;
}

.defs {
  fill: #fff;
}

/* lines */

.relationship-line-upper {
  stroke: #333;
  stroke-width: 1;
}

.relationship-line-lower {
  stroke: #000;
  opacity: 0.01;
  stroke-width: 5;
  filter: none;
}

.relationship-middle-graphics-upper {
  fill: #333;
}

.relationship-middle-graphics-lower {
  fill: #fff;
}

.simple-line-upper {
  stroke: #333;
  stroke-width: 1;
}

.simple-line-lower {
  stroke: #000;
  opacity: 0.01;
  stroke-width: 5;
}

.relationship-name {
  /*filter: drop-shadow(0px 0px 1px #333);*/
  fill: #333;
}

/* main objects */

.table-box {
  min-width: 150px;
  min-height: 45px;

  background-color: #fff;
  box-shadow: 0px 0px 14px -8px #000 !important;
  border-radius: 10px;
  outline: 1px solid #333;
}

.table-header {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) -50%,
    rgba(0, 0, 0, 0.3),
    rgba(255, 255, 255, 0.1) 150%
  );
  background-color: #03a9f4;
}

.object-header {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) -50%,
    rgba(0, 0, 0, 0.3),
    rgba(255, 255, 255, 0.1) 150%
  );
  background-color: #b20da2;
}

.object-header .im-col-list {
  color: limegreen;
}

.object-header .im-col-object-left {
  color: gold;
}

.table-name {
  font-weight: 300;
  text-shadow: none;
  color: #fff;
}

.table-area {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #000 !important;
  background-color: #fff !important;
}

.object-area {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #000 !important;
  background-color: #fff !important;
}

.col-name {
}

.col-datatype {
  opacity: 0.8;
}

.col-nn {
  opacity: 0.8;
}

/* text objects */
.text-box {
  border-radius: 10px;
  color: #333;
  outline: 0px solid transparent;
}

.note-box {
  border-radius: 10px;
  color: #333;
}

.note-box .inner-box {
  color: #333;
}

.subject-area-box {
  overflow: hidden;
  border-radius: 10px;
  color: #333;
}

.subject-area-header {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 7px;
}

/* other objects */

.other-box {
  min-width: 150px;
  min-height: 44px;
  border-radius: 10px;
  color: #333;
  outline: 1px solid white;
}

.other-box .inner-box {
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) -50%,
    rgba(0, 0, 0, 0.4),
    rgba(255, 255, 255, 0.1) 150%
  );
  box-shadow: 0px 0px 14px -8px #000 !important;
  color: inherit;
  background-color: #9c27b0;
}

/* common */

.inner-box {
  border-radius: 10px;
  outline: 1px solid transparent;
}

.inner-box,
.im-asset-cat {
  color: #fff;
}

.item-bottom-box {
  background: transparent;
  color: #333;
}

.item-description {
  color: #333;
}

.im-customizations-displayed {
  background: transparent;
  color: inherit;
}

/* global objects */

.diagram,
.diagram h1,
.diagram h2,
.diagram h3,
.diagram h4,
.diagram h5,
.diagram h6,
.diagram p,
.diagram div,
.diagram span,
.table-box span,
.table-box div {
}

.sel-item-diagram,
.sel-item-diagram-multi,
.sel-item-diagram-multi:focus,
.sel-item-diagram-multi:focus-visible,
.sel-item-diagram:hover {
  outline: 3px solid transparent !important;
  outline-offset: 0px;  border: inherit;
  box-shadow: inherit;
}

.sel-item-diagram-multi.sel-item-diagram:not(.subject-area-header-extra)::after, .sel-item-diagram .res, .im-n-sa-header-selectmoveall {
display: none !important;
}

.im-n, .dGraphicsHeader, .im-n-other *, .table-box *, .note-box * {
  cursor: pointer !important;
}

.sel-relation-diagram-bg.relationship-line-lower,
.sel-relation-diagram-bg.simple-line-lower {
  stroke: #ed721b !important;
  filter: none;
  opacity: 1;
}

/* specific */
.im-n-conceptual {
  background: transparent !important;
  outline: 1px solid transparent;
}

.im-conceptual-entity,
.im-conceptual-entity,
.im-conceptual-entity-weak,
.im-conceptual-entity-associative {
  border-radius: 10px;
}
.tree__mini__selected {
  background-color: #ed721b !important;
}

.im-other-object-type {
  opacity: 1;
}


@media print {
  .dTableName span {
    text-shadow: none !important;
  }

  .table-box,
  .other-box,
  .other-box .inner-box,
  .note-box,
  .note-box .inner-box {
    box-shadow: none !important;
  }
}
